<div class="page-toolbar">
    <div class="page-filter fr">
        <form class="layui-form layui-form-pane" action="{:url()}?keyword={$id}" method="get" id="hisi-table-search">
            <div class="layui-form-item">
                <label class="layui-form-label">搜索</label>
                <div class="layui-input-inline">
                    <input type="text" name="search" value="{:input('get.search')}" lay-verify="required" placeholder="请输入标签名字" autocomplete="off" class="layui-input">
                </div>
            </div>
        </form>
    </div>
    <input type="hidden" value="{$id}" id="ids">
    <div class="layui-btn-group fl">
        <!--<a href="{:url('add')}" class="layui-btn layui-btn-primary"><i class="aicon ai-tianjia"></i>新闻发布</a>-->
        <!--        <a data-href="{:url('delete')}" class="layui-btn layui-btn-primary j-page-btns confirm"><i class="aicon ai-jinyong"></i>删除</a>-->
    </div>
</div>
<table id="dataTable"></table>
{include file="system@block/layui" /}
<script type="text/html" id="statusTpl">
    <input type="checkbox" name="status" value="{{ d.status }}" lay-skin="switch" lay-filter="switchStatus" lay-text="正常|关闭" {{ d.status == 1 ? 'checked' : '' }} {{ d.system == 1 ? 'disabled' : '' }} data-href="{:url('status')}?id={{ d.id }}">
</script>
<script type="text/html" title="操作按钮模板" id="buttonTpl">
    {{# if (d.system != 1) { }}
    <a href="{:url('label_s')}?keyword={{ d.table_name }}" class="layui-btn layui-btn-xs layui-btn-primary" title="下属标签">下属标签</a>
    <a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-normal layui-disabled" title="修改" hisi-data="{width: '470px', height: '300px'}">修改</a>
    <a href="javascript:void(0);" class="layui-btn layui-btn-xs layui-btn-danger layui-disabled">删除</a>
    {{# } else { }}
    <a href="javascript:void(0);" title="" class="layui-btn layui-btn-xs layui-btn-normal layui-disabled">修改</a><a href="javascript:void(0);" title="" class="layui-btn layui-btn-xs layui-btn-danger layui-disabled">删除</a>
    {{# } }}
</script>

<script type="text/javascript">
    var ids=document.getElementById("ids").value;
    layui.use(['table'], function() {
        var table = layui.table;
        table.render({
            elem: '#dataTable'
            ,url: '{:url("index")}?keyword='+ids+'' //数据接口
            ,page: true //开启分页
            ,skin: 'row'
            ,even: true
            ,limit: 20
            ,text: {
                none : '暂无相关数据'
            }
            ,cols: [[ //表头
                {type:'checkbox'}
                ,{field: 'name', title: '标签'}
                ,{field: 'table_name', title: '小标签数据表'}
                ,{field: 'title', title: '分类'}
                // ,{field: 'status', title: '状态', width: 100, templet: '#statusTpl'}
                ,{title: '操作', width: 190, templet: '#buttonTpl'}
            ]]
        });
    });
</script>



