    <form class="layui-form" action="{:url()}" method="post" id="editForm">
        <div class="layui-tab-item layui-show">

            <div class="layui-form-item">
                <label class="layui-form-label">标题</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input field-title" name="title" lay-verify="required" autocomplete="off" placeholder="请输入标题">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">简述</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input field-brief" name="brief" lay-verify="required" autocomplete="off" placeholder="请输入简述">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">价格</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input field-price" name="price" lay-verify="required" autocomplete="off" placeholder="请输入价格">

                </div>
            </div>
            <input type="hidden"  value="{$data_info.city_id}" id="city">
            <input type="hidden" value="{$data_info.cid}" id="cate">


            <div class="layui-inline layui-form-item">
                <label class="layui-form-label">城市选择</label>
                <div class="layui-input-inline">
                    <select id="selectID" name="city_id" class="field-city_id" lay-verify="required" lay-filter="sadaS" lay-search="" style="z-index: 15; position: relative">
                        {volist name="city" id="vo"}
                        <option value="{$vo['id']}" title="{$vo['name']}">{$vo['name']}</option>
                        {/volist}
                    </select>
                </div>
            </div>

            <div class="layui-inline layui-form-item">
                <label class="layui-form-label">分类选择</label>
                <div class="layui-input-inline">
                    <select name="cid" id="category"  class="field-cid" lay-verify="required" lay-filter="sadaC" lay-search="" style="z-index: 15; position: relative">
                        <option value="">全部</option>
                        {volist name="cate" id="vo" key='k'}
                        <optgroup label="{$vo.title}">
                            {volist name="$vo['son']" id="vs" key='k'}
                            <option value="{$vs.id}">{$vs.title}</option>
                            {/volist}
                        </optgroup>
                        {/volist}
                    </select>
                </div>
            </div>


        </div>
        <div class="layui-tab-item layui-form">
            <div class="layui-collapse page-tips">
              <div class="layui-colla-item">
                <h2 class="layui-colla-title">温馨提示</h2>
                <div class="layui-colla-content layui-show">
                    <p>
                    默认使用当前用户的角色分组，您可以针对此用户单独设置角色分组以外的权限；如果您更改了角色分组未保存，则单独设置权限会无效哦！
                    </p>
                </div>
              </div>
            </div>
        </div>
        {if (request()->action() == 'adduser')}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    {:token()}
                    <input type="hidden" class="field-id" name="id">
                </div>
            </div>
            <div class="pop-bottom-bar">
                <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit" hisi-data="{pop: true, refresh: true}">提交保存</button>
                <a href="javascript:parent.layui.layer.closeAll();" class="layui-btn layui-btn-primary ml10">取消</a>
            </div>
        {else /}
            <div class="layui-form-item">
                <div class="layui-input-block">
                    {:token()}
                    <input type="hidden" class="field-id" name="id">
                    <button type="submit" class="layui-btn layui-btn-normal" lay-submit="" lay-filter="formSubmit">提交</button>
                    <a href="{:url('index')}" class="layui-btn layui-btn-primary ml10"><i class="aicon ai-fanhui"></i>返回</a>
                </div>
            </div>
        {/if}
        </form>
    {include file="system@block/layui" /}
    <script src="__STATIC__/js/jquery.2.1.4.min.js"></script>
        <script>

            var formData = {:json_encode($data_info)};
        layui.use(['form', 'func'], function() {
            var $ = layui.jquery, form = layui.form;
             var city=$("#city").val();
             var cid=$("#cate").val();
            $("#selectID option[value="+city+"]").prop("selected",true);
            form.render("select");
            $("#category option[value="+cid+"]").prop("selected",true);
            form.render("select");
            layui.func.assign(formData);
            /* 有BUG 待完善*/
            form.on('checkbox(roleAuth)', function(data) {
                var child = $(data.elem).parent('dt').siblings('dd').find('input');
                /* 自动选中父节点 */
                var check_parent = function (id) {
                    var self = $('.role-list-form input[value="'+id+'"]');
                    var pid = self.attr('data-pid') || '';
                    self.prop('checked', true);
                    if (pid == '') {
                        return false;
                    }
                    check_parent(pid);
                };
                /* 自动选中子节点 */
                child.each(function(index, item) {
                    item.checked = data.elem.checked;
                });
                check_parent($(data.elem).attr('data-pid'));
                form.render('checkbox');
            });
        
            /* 权限赋值 */
            if (formData) {
                for(var i in formData['auth']) {
                    $('.role-list-form input[value="'+formData['auth'][i]+'"]').prop('checked', true);
                }
                form.render('checkbox');
            }
        });
        </script>